#button_callbackForm {
	display: block;
	position: absolute;
	width: 275px;
	height: 33px;
	top: 60%;
	/*right: 33%;*//*для удобства работы с формой закоментим*/
	background-color: #7baa31;
	padding: 11px;
	color: #fff;
	font-size: 1.1em;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 10px;

	-webkit-transition: background-color 500ms ease-out 0.1s;
	-moz-transition: background-color 500ms ease-out 0.1s;
	-o-transition: background-color 500ms ease-out 0.1s;
	transition: background-color 500ms ease-out 0.1s;
}
#button_callbackForm:hover {
	background-color: #ff9515;
	cursor: pointer;
}
.button-img_callbackForm {
	display: inline-block;
}
.button-text_callbackForm {
	position: relative;
	display: inline-block;
	bottom: 9px;
	left: 8px;
	margin: 0 auto;
	font-size: 15px;
	font-family: Verdana;

}
.button-text_callbackForm:hover{
	cursor: pointer;
}
.button-img_callbackForm {
	display: inline-block;
}

