#form_callbackForm {
	margin: 0 auto;
	width: 600px;
	height: 470px;
	max-width: 620px;
	background-color: rgb(216, 237, 216);
	display: none;
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 1px solid #cccccc;
	border-radius: 8px;
	position: relative;
	z-index: 1900;
}

#form_callbackForm label {
	position: absolute;
	display: block;
	margin: 20px;
	width: 582px;
}
#grey-screen_callbackForm {
	position:fixed;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	background: black;
	z-index: 1000;
	display: none;
	top: 0;
	left: 0;
}

#name-label_callbackForm{
	top: 0px;
}
#phone-label_callbackForm{
	top: 95px;
}
#question-label_callbackForm{
	top: 194px;
}
#name-input_callbackForm {
	position: relative;
}
#form_callbackForm input {
	/*border-color: #ff1f11;*/
	-webkit-appearance: none;
	margin: 5px 0 -20px 0;
	padding: 8px;
	width: 96%;
	font-size: 1.2em;
	border: 1px solid lightgray;
}
.error_callbackForm {
	display: none;
	background: #F11D0E;
	width: 551px;
	height: 16px;
	color: white;
	margin-top: 19px;
	padding: 4px;
	font-size: 0.9em;
}
#question-input_callbackForm {
	height: 88px;
	margin: 5px 0 -20px 0;
	padding: 8px;
	width: 96%;
	word-wrap: break-word;
	font-size: 1.5em;
}
.close_callbackForm {
	float: right;
	margin: 10px -27px 0px 0px;
	color: gray;
	text-decoration: none;
	background-color: rgb(216, 237, 216);
	border-left: 3px;
	padding-left: 12px;
	padding-right: 4px;
	border-radius: inherit;
	font-size: 1.4em;
}
.enter-button_callbackForm {
	position: absolute;
	bottom: 0px;
	width: 165px;
	height: 50px;
	margin: 20px 20px;
	text-decoration: none;
	background-color: #ff9515;
	padding: 5px;
	font-size: 1.01em;
	font-weight: bold;
	color: #fff;
	border-radius: 12px;

}
.enter-button_callbackForm:hover {
	background-color: #ff9950;
}
#screen-2_callbackForm {
	display: none;
}
#opposite-message_callbackForm {
	/*background-color: #7baa31;*/
	padding: 34px 0px 0px 40px;
}
